<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <div class="logo">
          <span class="logo-icon">©</span>
          <a class="name" routerLink="/">Rhythm Sharma</a>
        </div>
      </div>
      
      <div class="footer-right">
        <div class="social-links">
            @for (link of socialLinks; track $index) {
                <a 
                  [href]="link.url" 
                  target="_blank" 
                  rel="noopener noreferrer"
                  class="social-link"
                  [attr.aria-label]="link.name"
                >
                <fa-icon [icon]="link.icon"></fa-icon>
                </a>
            }
            
        </div>
      </div>
    </div>
  </footer>